{{> hirerheader}}

<title>Company</title>
{{#if status}}
  {{#if hasAnyUser}}
        {{#each getmatcheddocuments}}
         
{{!-- <form action="/hirer/acceptjob" method="POST"> --}}
<section class="container mt-4 mb-4">
		<div class="col-md-12">
			<div class="d-flex flex-row border rounded">
	  			<div class="p-0 w-25">
	  			    <img src="https://i0.wp.com/www.presspim.com/wp-content/uploads/2017/07/NewEmployee.jpg" class="img-thumbnail border-0" style="height: 100%;width:100% "/>
	  			</div>
	  			<div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
	  					<h4 class="text-primary"><strong style="color: black">Date : </strong>{{ this.a_date}}</h4>
	  					<h5 class="text-info"><strong style="color: black">Email Id : </strong>{{ this.a_email}}</h5><br>
						  <div class="m-0 float-left" style="list-style: none; margin:0; padding: 1%">
							<form action="/hirer/booked" method="POST">
								<input type="hidden" name="emailid" value= {{this.a_email}}>
								<input type="hidden" name="a_date" value= {{this.a_date}}>
								<input type="submit" class="btn btn-success" value="Accept">
							</form>
	  					</div>
						<p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="fa fa-user-circle"></i> View Profile</a></p>
				</div>
			</div>
		</div>
</section>
</form>
        {{/each}}
    {{else}}
        <h1 style="text-align: center;color: red"> NO APPLICATION FOUND </h1>
    {{/if}}
    {{/if}}
    
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>